In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def extract_bill_atm() -> pd.DataFrame:
    df = pd.read_csv("data/1 raw/UCI_Credit_Card_BillATM.csv", index_col=0 ,na_values={"LIMIT_BAL": ["-"]})

    return df

def transform_bill_atm(df: pd.DataFrame) -> pd.DataFrame:
    df["LIMIT_BAL"] = df["LIMIT_BAL"].astype(np.float32, errors="ignore")
    df["SEX"] = df["SEX"].astype("category")

    df.set_index("ID", inplace=True)
    df.sort_index(inplace=True)
    df.drop_duplicates(inplace=True) # ID 1 and 26 is duplicated
    return df



df_bill_extract = extract_bill_atm()
df_bill_transform = transform_bill_atm(df=df_bill_extract)
df_bill_transform

,LIMIT_BAL,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6
ID,,,,,,,,
1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0
2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0
3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0
4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0
5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0
6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0
7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0
8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0
9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0
10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0
11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0
12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0
13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0
14,NaN,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0
15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0
16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0
17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0
18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0
19,NaN,female,0.0,0.0,0.0,0.0,0.0,0.0
20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0
21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0
22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0
23,NaN,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0
24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0
25,NaN,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0
26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0
27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0
28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0
29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0
30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0
31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0
32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0
33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0
34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0
35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0
36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0
37,NaN,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0
38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0
39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0
40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0
41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0
42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0
43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0
44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0
45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0
46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0
47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0
48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0
49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0
50,NaN,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0

In [3]:
def extract_pay() -> pd.DataFrame:
    df = pd.read_csv("data/1 raw/UCI_Credit_Card_Pay.csv", index_col=0, na_values={"LIMIT_BAL": ["-"]})
    return df

def transform_pay(df: pd.DataFrame) -> pd.DataFrame:
    df["LIMIT_BAL"] = df["LIMIT_BAL"].astype(np.float32, errors="ignore")
    df["AGE"] = df["AGE"].str.extract('(\d+)').astype(float, errors="ignore")

    df.set_index("ID", inplace=True)
    df.sort_index(inplace=True)
    df.drop_duplicates(inplace=True) # ID 1 and 26 is duplicated
    return df



df_pay_extract = extract_pay()
df_pay_transform = transform_pay(df=df_pay_extract)
df_pay_transform

    LIMIT_BAL   AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6
ID
1     20000.0   NaN      2      2     -1     -1     -2     -2
2    120000.0  26.0     -1      2      0      0      0      2
3     90000.0  34.0      0      0      0      0      0      0
4     50000.0  37.0      0      0      0      0      0      0
5     50000.0  57.0     -1      0     -1      0      0      0
6     50000.0   NaN      0      0      0      0      0      0
7    500000.0  29.0      0      0      0      0      0      0
8    100000.0  23.0      0     -1     -1      0      0     -1
9    140000.0  28.0      0      0      2      0      0      0
10    20000.0  35.0     -2     -2     -2     -2     -1     -1
11        NaN  34.0      0      0      2      0      0     -1
12   260000.0  51.0     -1     -1     -1     -1     -1      2
13   630000.0  41.0     -1      0     -1     -1     -1     -1
14    70000.0  30.0      1      2      2      0      0      2
15   250000.0  29.0      0      0      0      0      0      0
16    50000.0   NaN      1      2      0      0      0      0
17    20000.0  24.0      0      0      2      2      2      2
18   320000.0  49.0      0      0      0     -1     -1     -1
19   360000.0  49.0      1     -2     -2     -2     -2     -2
20   180000.0  29.0      1     -2     -2     -2     -2     -2
21   130000.0   NaN      0      0      0      0      0     -1
22   120000.0  39.0     -1     -1     -1     -1     -1     -1
23    70000.0  26.0      2      0      0      2      2      2
24   450000.0  40.0     -2     -2     -2     -2     -2     -2
25    90000.0  23.0      0      0      0     -1      0      0
26        NaN  23.0      0      0      0      0      0      0
27    60000.0  27.0      1     -2     -1     -1     -1     -1
28    50000.0  30.0      0      0      0      0      0      0
29    50000.0  47.0     -1     -1     -1     -1     -1     -1
30    50000.0  26.0      0      0      0      0      0      0
31        NaN  27.0     -1     -1     -1     -1     -1     -1
32    50000.0  33.0      2      0      0      0      0      0
33   100000.0  32.0      0      0      0      0      0      0
34        NaN  54.0     -2     -2     -2     -2     -2     -2
35   500000.0  58.0     -2     -2     -2     -2     -2     -2
36   160000.0   NaN     -1     -1     -2     -2     -2     -1
37   280000.0  40.0      0      0      0      0      0      0
38    60000.0  22.0      0      0      0      0      0     -1
39    50000.0  25.0      1     -1     -1     -2     -2     -2
40   280000.0  31.0     -1     -1      2     -1      0     -1
41   360000.0   NaN      0      0      0      0      0      0
42    70000.0  25.0      0      0      0      0      0      0
43        NaN  22.0      0      0      0      0      0      0
44        NaN  37.0      0      0      0      0      0      0
45    40000.0  30.0      0      0      0      2      0      0
46   210000.0   NaN     -2     -2     -2     -2     -2     -2
47    20000.0  22.0      0      0      2     -1      0      0
48   150000.0  46.0      0      0     -1      0      0     -2
49   380000.0  32.0     -1     -1     -1     -1     -1     -1
50    20000.0  24.0      0      0      0      0      0      0

In [4]:
def extract_pay_atm() -> pd.DataFrame:
    df = pd.read_csv("data/1 raw/UCI_Credit_Card_PayATM.csv", index_col=0,  na_values={"LIMIT_BAL": ["-"], "EDUCATION": ["Null"]})
    return df

def transform_pay_atm(df: pd.DataFrame) -> pd.DataFrame:
    df["LIMIT_BAL"] = df["LIMIT_BAL"].astype(np.float32, errors="ignore")

    df.set_index("ID", inplace=True)
    df.sort_index(inplace=True)
    df.drop_duplicates(inplace=True) # ID 1 and 26 is duplicated
    return df



df_pay_atm_extract =  extract_pay_atm()
df_pay_atm_transform = transform_pay_atm(df=df_pay_atm_extract)
df_pay_atm_transform

,LIMIT_BAL,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
ID,,,,,,,,
1,20000.0,2.0,0.0,689.0,0.0,0.0,0.0,0.0
2,120000.0,2.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
3,90000.0,NaN,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
4,NaN,2.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
5,50000.0,2.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
6,50000.0,1.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0
7,NaN,1.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0
8,100000.0,2.0,380.0,601.0,0.0,581.0,1687.0,1542.0
9,140000.0,3.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0
10,20000.0,NaN,0.0,0.0,0.0,13007.0,1122.0,0.0
11,200000.0,3.0,2306.0,12.0,50.0,300.0,3738.0,66.0
12,260000.0,1.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0
13,630000.0,NaN,1000.0,6500.0,6500.0,6500.0,2870.0,0.0
14,70000.0,2.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0
15,250000.0,1.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0
16,50000.0,3.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0
17,20000.0,1.0,3200.0,0.0,1500.0,0.0,1650.0,0.0
18,320000.0,1.0,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0
19,360000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
20,180000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
21,130000.0,3.0,3000.0,1537.0,1000.0,2000.0,930.0,33764.0
22,120000.0,2.0,316.0,316.0,0.0,632.0,316.0,0.0
23,70000.0,2.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0
24,450000.0,NaN,19428.0,1473.0,560.0,0.0,0.0,1128.0
25,90000.0,1.0,5757.0,0.0,5398.0,1200.0,2045.0,2000.0
26,50000.0,3.0,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
27,NaN,1.0,0.0,1000.0,0.0,500.0,0.0,1000.0
28,NaN,3.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0
29,50000.0,3.0,3415.0,3421.0,2044.0,30430.0,257.0,0.0
30,50000.0,1.0,1500.0,1500.0,1000.0,1000.0,1600.0,0.0
31,230000.0,1.0,17270.0,13281.0,15339.0,14307.0,37292.0,0.0
32,50000.0,2.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0
33,100000.0,NaN,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0
34,500000.0,2.0,4152.0,22827.0,7521.0,71439.0,981.0,51582.0
35,500000.0,1.0,5006.0,31178.0,3180.0,0.0,5293.0,768.0
36,160000.0,1.0,131.0,396.0,396.0,565.0,792.0,0.0
37,280000.0,2.0,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0
38,NaN,2.0,1500.0,1518.0,2043.0,0.0,47671.0,617.0
39,50000.0,1.0,780.0,0.0,0.0,0.0,0.0,0.0
40,280000.0,1.0,9075.0,0.0,9976.0,8000.0,9525.0,781.0
41,360000.0,1.0,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0
42,70000.0,NaN,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0
43,10000.0,2.0,1500.0,2927.0,1000.0,300.0,1000.0,500.0
44,140000.0,NaN,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0
45,40000.0,1.0,3000.0,5000.0,0.0,2000.0,3000.0,0.0
46,210000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
47,20000.0,1.0,3000.0,0.0,16741.0,334.0,0.0,0.0
48,NaN,5.0,1013.0,1170.0,0.0,0.0,0.0,0.0
49,380000.0,2.0,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0
50,20000.0,1.0,1318.0,1315.0,704.0,928.0,912.0,1069.0

In [29]:
def extract_pay_next() -> pd.DataFrame:
    df = pd.read_csv("data/1 raw/UCI_Credit_Card_PayNextMonth.csv", index_col=0, na_values={"SEX": ["Nan"]})
    return df

def transform_pay_next(df: pd.DataFrame) -> pd.DataFrame:

    df.loc[df["SEX"] == 1.0, "SEX"] = "male"
    df.loc[df["SEX"] == 2.0, "SEX"] = "female"

    df["SEX"] = df["SEX"].astype("category")


    df.set_index("ID", inplace=True)
    df.sort_index(inplace=True)
    df.drop_duplicates(inplace=True) # ID 1 and 26 is duplicated
    return df



df_pay_next_extract =  extract_pay_next()
df_pay_next_transform = transform_pay_next(df=df_pay_next_extract)
df_pay_next_transform.head()

       SEX  EDUCATION  MARRIAGE   AGE  default.payment.next.month
ID
1   female        2.0         1  24.0                           1
2   female        2.0         2  26.0                           1
3   female        2.0         2  34.0                           0
4   female        NaN         1  37.0                           0
5     male        2.0         1  57.0                           0

In [30]:
data = {
    "bill_atm": df_bill_transform,
    "card_pay": df_pay_transform,
    "card_pay_atm": df_pay_atm_transform,
    "card_pay_next": df_pay_next_transform,
}

In [33]:
df = None

for key, value in data.items():
    if df is None:
        df = value
    else:
        df = df.merge(value, left_index=True, right_index=True, suffixes=(None, key))

df["SEX"] = df.apply(lambda x: x["SEX"] or x["SEXcard_pay_next"], axis=1)
df[["SEX", "SEXcard_pay_next"]]

       SEX SEXcard_pay_next
ID
1   female           female
2      NaN           female
3   female           female
4   female           female
5     male             male
6     male             male
7     male             male
8   female           female
9      NaN           female
10    male             male
11  female           female
12     NaN           female
13  female           female
14    male              NaN
15    male             male
16  female           female
17    male             male
18    male             male
19  female              NaN
20  female           female
21  female           female
22     NaN           female
23  female              NaN
24  female           female
25    male              NaN
26    male             male
27    male             male
28  female           female
29  female           female
30    male             male
31  female           female
32     NaN             male
33    male             male
34  female           female
35    male             male
36    male             male
37    male              NaN
38  female           female
39    male             male
40    male             male
41    male             male
42  female           female
43    male             male
45  female           female
46    male             male
47     NaN           female
48  female           female
49     NaN             male
50    male              NaN